<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/str_bloco_notas"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.notas.MainActivity"
            android:label="@string/str_bloco_notas" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.notas.Activity_add_bloco"
            android:label="@string/title_activity_adicionar__pasta"
            android:parentActivityName="com.notas.MainActivity" >
        </activity>
        <activity
            android:name="com.notas.Teste"
            android:label="@string/title_activity_teste"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.notas.Activity_edit_bloco"
            android:label="Editar"
            android:parentActivityName="com.notas.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.notas.MainActivity" />
        </activity>
    </application>

</manifest>
